body {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background: #fafafa;
}

.title {
    background: #EAE3E3;
    font-weight: bold;
    color: #524E4E;
}
textarea {
    overflow: hidden;
    height: 25px;
    resize: none;
}

.task {
    display: block;
    width: 100%;
}
#container {
    margin-top: 15px;
}

