body {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.title {
    background: brown;
    color: white;
}

#container {
    margin-top: 15px;
}

.todo-view {
    border: 1px solid blue;
}

.todo-title .todo-completed .todo-category .todo-toggle {
    display: inline-block;
}
/*
.todo-title {
    float: left;
    width: 40%;
}

.todo-completed {
    float: left;
    width: 10%;
}

.todo-category {
    float: left;
    width: 40%;
}
.todo-toggle {
    float:left;
    width: 10%;
} */
